<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@chapter) do |f| %>
      <%= render 'shared/model_error_messages', model: @chapter %>

      <%= f.input :name, required: false %>

<p>Please include come information about the chapter, such as a link to the chapter's <a href="http://discourse.openhatch.org/c/chapters">section on our forums</a>.</p>
      <%= f.text_area :chapter_description, required: false, class: 'form-control' %>

      <div class="actions">
        <%= f.submit class: 'btn btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
